/* common  */
* {
	Box-sizing: border-box;
	Margin: 0;
	Padding: 0;
}
.container {
    width: 80%;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
}

.box {
    margin: 20px auto;
}
/* icona header */
.icon {
    background: url(../img/logo.png);
    height: 70px;
    background-size: 163px 69px;
    background-repeat: no-repeat;
}
/* menù nav header  */
/* nav {
    line-height: 50px;
    vertical-align: middle;
    background-color: #E579E6;

    ho potuto eliminare. Nav non ha indicazioni perchè tutte in li/a. E' sbagliato?
} */

nav li {
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
    list-style: none;
} 

a {
    text-decoration: none;
    color: #D4D4D4;
}

a:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

/* banner  */
.banner {
    width: 100%;
    height: 400px;
    background: url(../img/banner.jpg);
    background-position: center;
    border-radius: 10px;
}
.testobanner {
    background-color: rgba(129,129,129,0.5);
    height: 400px;
    padding: 250px 400px 50px 50px;
    border-radius: 10px;
}

/* main */
.headmain {
    width: 100%;
    /* background-color: #ABCFE7; */
    padding: 10px 0;
}


/* specifico per box >> footer  */
.violet {
    height: 35px;
    background-color: #8801FE;
}


aside {
    padding: 10px;
    width: 20%;
    /* background-color: #ABCFE7; */
}

/* BOX MAIN  */
section {
    /* background: #0186FF; */
    padding-bottom: 1%;
}
section::after {
    content: "";
    display: table;
    clear: both;
}

div #img1 {
    height: 300px;
    background: url(../img/img-1.jpg);
    background-position: center;
    border-radius: 10px;
}
div #img2 {
    height: 300px;
    background: url(../img/banner-2.jpg);
    background-position: center;
    border-radius: 10px;
}

div #img3 {
    height: 300px;
    background: url(../img/img-3.jpg);
    background-position: center;
    border-radius: 10px;
}


.right {
    margin-left: 1%;
    float: right;
}

.left {
    margin-right: 1%;
    float: left;
}

.center {
    padding: 10px;
    float: left;
    background-color: #ABCFE7;
    height: 340px;
    width: 58%;
}

